@font-face {
    font-family: bird;
    src: url(flappy-bird-font.ttf);
}

@font-face {
    font-family: pixel;
    src: url(Pixel\ Game.otf);
}


.container img{
    position: absolute;
    top: 195px;
    left: 126px;
    height: 150px;
    width: 200px;
    scale: 0.4;
    opacity: 0.88;
    pointer-events: none;
    object-fit: cover;
    object-position: center;
}

.container h1{
    font-size: 110px;
    color: whitesmoke;
    -webkit-text-stroke: 0.4px black;
    line-height: 80px;
    font-family: pixel;
}

.other-buttons{
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.container img:nth-child(1){
    height: 200%;
    max-width: 200px;
    max-height: 150px;
    position: absolute;
    top: 20px;
    left: 0px;
    transform: translate(-50%, -50%);
    width: 200%;
    object-fit: cover;
    object-position: 0%;
}

.swiper-slide{
    left: 100px;
}

.button{
    top: 180px;
}

.selection{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 290px;
}

.amount-container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amount-container h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
    padding-left: 30px;
}

#coin-amount-logo{
    height: 60px;
    width: 65px;
    top: 7px;
    left: 180px;
    scale: 0.36;
    position: absolute;
}

.selected{
    scale: 0.5;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-100%);
    background-color: rgba(0, 128, 0, 0.818);
}

